img {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.pic {
  height: 10%;
  width: 10%;
  padding: 15px
}

p {
  width: 650px;
  padding: 10px;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-spacing: inherit;
  width: 675px;
}
