.top {
	border: 2px solid red;
	display:block;
	padding: 10px;
	margin: auto;
}

.left {
    border: 2px solid red;
    padding: 10px;
    float: left;
    width: 22.5%;
}

.center {
    border: 2px solid red;
    padding: 10px;
    display: inline-block;
    width: 50%;
}

.right {
    border: 2px solid red;
    padding: 10px;
    float: right;
    width: 21.25%;
}


.bottom {
    border: 2px solid red!important;
    padding: 10px;
    margin: auto;
    clear: both;
}